@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Odibee+Sans&display=swap');

html, body {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    background-color: #CBCBCB;
    margin: 0;
    font-size: 14px;
    color: #2E373A;
    font-family: 'Libre Baskerville', serif; /* Primary font for body text */
}

/* Style for making the favicon round */
link[rel="icon"], link[rel="shortcut icon"] {
    width: 32px; /* Adjust size as needed */
    height: 32px; /* Adjust size as needed */
    border-radius: 50%;
    overflow: hidden;
}


/* General Styles */
body {
    font-family: 'Libre Baskerville', serif;
    background-color: var(--neutral-color-white);
    color: var(--neutral-color-black);
    overflow-x: hidden;
    font-size: 1rem;
}

h1 {
    font-family: 'Odibee Sans', sans-serif;
}

/* Navbar Styles */
.navbar {
    background-color: var(--primary-color);
}

.nav-link {
    color: var(--neutral-color-black);
}

.nav-link.active {
    color: var(--accent-color-2);
}

/* Button Styles */
.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn-secondary {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}

.btn-accent-1 {
    background-color: var(--accent-color-1);
    border-color: var(--accent-color-1);
    color: var(--neutral-color-black);
}

.btn-accent-2 {
    background-color: var(--accent-color-2);
    border-color: var(--accent-color-2);
    color: var(--neutral-color-white);
}

/* Additional Custom Styles */
.custom-background {
    background-color: rgb(255, 255, 255);
    color: var(--neutral-color-black);
}

.custom-text-primary {
    color: var(--primary-color);
}

.custom-text-secondary {
    color: var(--secondary-color);
}

.custom-text-accent-1 {
    color: var(--accent-color-1);
}

.custom-text-accent-2 {
    color: var(--accent-color-2);
}

/* Globals Styles */
.card {
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
}

/* Hero Section */
.hero-section {
    position: relative;
    height: 100vh;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.spline-container {
    position: absolute;
    z-index: 0;
    top: 60%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 300px;
    height: 300px;
    pointer-events: none;
    transition: top 0.3s ease-in-out;
}

/* Responsive Design */
@media (max-width: 768px) {
    .spline-container {
        top: 60%;
        bottom: 10%;
        transform: translate(-50%, 0%);
        width: 300px;
        height: 300px;
    }
}

/* Common Styles for Animations */
.project-card, .skill-slide, .service-card, .about-card {
    opacity: 0;
    transition: opacity 1s ease, transform 1s ease ;
    will-change: transform, opacity;
}

/* About Section */
.about-section {
    background-color: #ffffff;
}


@keyframes slideright {
    from {
        opacity: 0;
        transform: translateX(-500px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}


/* Project Section */
.project-card {
    animation: slideIn 1s forwards;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translatex(500px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Skills Section */
.skill-slide {
    animation: skill-slide 1s forwards;
}

@keyframes skill-slide {
    from {
        opacity: 0;
        transform: translateY(-500px) scale(0.2);
    }
    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

/* Services Section */
.service-card {
    animation: autoShow 1s forwards;
}

@keyframes autoShow {
    from {
        opacity: 0;
        transform: translateY(200px) scale(0.3);
    }
    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}




/* Ensure elements are in view to trigger animations */
.about-card {
    animation-delay: 0.2s;
}

/* Projects Section */
.projects-section {
    background-color: #f8f9fa;
    padding: 5rem 0;
}

.projects-section .card-img-top,
.projects-section .sketchfab-embed-wrapper iframe {
    height: 200px;
    object-fit: cover;
    width: 100%;
}


/* Services Section */
.service-card {
    background-color: rgba(255, 255, 255, 0.9);
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 0.75rem;
}

#services {
    background-size: cover;
    background-position: center;
    padding: 5rem 0;
}

#services .row {
    margin-bottom: 2rem;
}

/* Specific background images for each service */
#services .row > div:nth-child(1) .service-card {
    background-image: url('../Assets/images/ArchViz.png');
}

#services .row > div:nth-child(2) .service-card {
    background-image: url('../Assets/images/WebDev.png');
}

#services .row > div:nth-child(3) .service-card {
    background-image: url('../Assets/images/3dGeneral.png');
}

#services .row > div:nth-child(4) .service-card {
    background-image: url('../Assets/images/products.png');
}

/* Additional styling for card background images */
.service-card {
    background-size: cover;
    background-position: center;
    color: #ffffff;
}

.service-card .card-body {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2rem;
}

/* Modals */
.card-header {
    font-weight: bold;
    text-align: center;
}

.card-body ul {
    padding: 0;
    list-style-type: none;
}

.card-footer {
    text-align: center;
}

.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-dark {
    background-color: #343a40;
    border-color: #343a40;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.modal-footer {
    display: flex;
    justify-content: center;
}

/* Skills Section */


@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

#skills {
    background-color: white;
    padding: 5rem 0;
}

#skills h2 {
    font-family: 'Arial', sans-serif;
    font-weight: 700;
    color: #000000;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #007bff;
    display: inline-block;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
}

#skills p {
    font-family: 'Arial', sans-serif;
    font-size: 1.4rem;
    color: #000000;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
}

.skill-name {
    display: inline-block;
    color: white !important;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    margin-top: 0.5rem;
}

.skill-icon {
    width: 100%;
    height: 10vh;
    animation: float 4s ease-in-out infinite;
    transition: transform 0.3s ease;
}

/* Specific colors for each skill */
.js-color {
    background-color: #713ddf;
}

.python-color {
    background-color: #3776ab;
}

.cpp-color {
    background-color: #00599c;
}

.html-color {
    background-color: #e34f26;
}

.css-color {
    background-color: #1572b6;
}

.nodejs-color {
    background-color: #68a063;
}

.blender-color {
    background-color: #f5792a;
}

.photoshop-color {
    background-color: #31a8ff;
}

.unreal-color {
    background-color: #232323;
}

.vscode-color {
    background-color: #007acc;
}

.zbrush-color {
    background-color: #8d8d8d;
}

.substance-color {
    background-color: #013a00;
}

/* Testimonials Section */
#testimonials {
    background-color: #f8f9fa;
    padding: 5rem 0;
}

#testimonials h2 {
    font-family: 'Arial', sans-serif;
    font-weight: 700;
    color: #343a40;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #007bff;
    display: inline-block;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
}

#testimonials p.lead {
    font-family: 'Arial', sans-serif;
    font-size: 1.4rem;
    color: #000000;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
}

#testimonials .card {
    border: none;
    border-radius: 0.5rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#testimonials .card-body {
    padding: 2rem;
}

#testimonials .card-title {
    font-size: 1.2rem;
    color: #007bff;
    margin-top: 1rem;
}

#testimonials .card-subtitle {
    font-size: 1rem;
    color: #6c757d;
}

#testimonials .card:hover {
    transform: translateY(-10px) scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Contact Section */
.contact-section {
    background: #ffffff;
    padding: 5rem 0;
    position: relative;
    overflow: hidden;
}

.contact-section .container {
    background: white;
    padding: 3rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-section h2 {
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;
    color: #343a40;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
}

.contact-section p.lead {
    font-family: 'Libre Baskerville', serif;
    font-size: 1.2rem;
    color: #6c757d;
    margin-bottom: 2rem;
}

.contact-section .form-label {
    font-weight: 600;
    color: #495057;
}

.contact-section .form-control {
    border-radius: 0.25rem;
    padding: 0.75rem;
    border: 1px solid #ced4da;
}

.contact-section .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    padding: 0.75rem 1.25rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: background-color 0.3s, border-color 0.3s;
}

.contact-section .btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

/* Footer Section */
.footer {
    background-color: #343a40;
    color: #ffffff;
    padding-bottom: 5rem;
    width: 100%;
    position: relative;
}

.footer h5 {
    font-weight: 700;
    margin-bottom: 1rem;
}

.footer a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer a:hover {
    color: #007bff;
}

.footer .list-unstyled {
    padding-left: 0;
    list-style: none;
}

.footer .list-unstyled li {
    margin-bottom: 0.5rem;
}

.footer .fab {
    font-size: 1.5rem;
    transition: color 0.3s ease;
}

.footer .fab:hover {
    color: #007bff;
}

.footer p {
    margin-bottom: 0;
}

footer {
    border-top: 10px solid #00bfff55;
    min-height: 10vh;
}

footer {
    border-top: 10px solid #00bfff55;
    min-height: 10vh;
}


@media (max-width: 768px) {
    .footer .row > div {
        margin-bottom: 2rem;
        margin-left: 1rem;
    }
}


#backToTopBtn:hover {
    background-color: #0056b3;
}

/* Animations */
.autoShow {
    animation: autoShowAnimation 0.8s both;
    animation-timeline: view(70% 5%);
}

@keyframes autoShowAnimation {
    from {
        opacity: 0;
        transform: translateY(200px) scale(0.3);
    }
    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

.autoRotate {
    animation: autoRotateAnimation;
    animation-timeline: view();
}

@keyframes autoRotateAnimation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.autoBlur {
    animation: autoBLurAnimation linear both;
    animation-timeline: view();
}

@keyframes autoBLurAnimation {
    0% {
        filter: blur(50px);
    }
    45%, 65% {
        filter: blur(0px);
    }
    100% {
        filter: blur(40px);
    }
}
