:root {
    --primary-color: #007bff; /* Blue */
    --secondary-color: #ff0000; /* Red */
    --accent-color-1: #ffeb3b; /* Yellow */
    --accent-color-2: #03a9f4; /* Light Blue */
    --neutral-color-black: #000000; /* Black */
    --neutral-color-white: #ffffff; /* White */
    --big-font-size: 4rem; /* Big font size */
}

/* General Styles */
body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--neutral-color-white);
    color: var(--neutral-color-black);
    overflow-x: hidden;
    font-size: 1rem; /* Base font size for paragraphs */
}

h1 {
    /* Uses default Bootstrap size */
}

.big-font {
    font-size: var(--big-font-size);
}

/* Navbar Styles */
.navbar {
    background-color: var(--primary-color);
}

.nav-link {
    color: var(--neutral-color-black);
}

.nav-link.active {
    color: var(--accent-color-2);
}

/* Button Styles */
.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn-secondary {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}

.btn-accent-1 {
    background-color: var(--accent-color-1);
    border-color: var(--accent-color-1);
    color: var(--neutral-color-black);
}

.btn-accent-2 {
    background-color: var(--accent-color-2);
    border-color: var(--accent-color-2);
    color: var(--neutral-color-white);
}

/* Additional Custom Styles */
.custom-background {
    background-color: rgb(255, 255, 255);
    color: var(--neutral-color-black);
}

.custom-text-primary {
    color: var(--primary-color);
}

.custom-text-secondary {
    color: var(--secondary-color);
}

.custom-text-accent-1 {
    color: var(--accent-color-1);
}

.custom-text-accent-2 {
    color: var(--accent-color-2);
}


/*Globals Styles*/
.card {
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent card background */
    border: none;
}
/* Hero Section */
.hero-section {
    position: relative;
    height: 100vh;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.spline-container {
    position: absolute;
    z-index: 0;
    top: 60%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 300px; /* Adjust width as needed */
    height: 300px; /* Adjust height as needed */
    pointer-events: none; /* Ensures it doesn't interfere with other elements */
    transition: top 0.3s ease-in-out; /* Smooth transition */
}

/* Responsive Design */
@media (max-width: 768px) {


    .spline-container {
        top: 60%;
        bottom: 10%;
        transform: translate(-50%, 0%);
        width: 300px; /* Adjust size for mobile */
        height: 300px; /* Adjust size for mobile */
    }
}

/* About.css */
.about-section {
    background-color: #ffffff;
}


/* Projects.css */
.projects-section {
    background-color: #f8f9fa;
    padding: 5rem 0;
}

.projects-section .card-img-top,
.projects-section .sketchfab-embed-wrapper iframe {
    height: 200px; /* Adjust the height as needed */
    object-fit: cover;
    width: 100%;
}

/* Skills Section */

@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

.skill-icon {
    width: 100px;
    height: 10vh;
    animation: float 4s ease-in-out infinite;
    transition: transform 0.3s ease;
}


/* Modals */
.card-header {
    font-weight: bold;
    text-align: center;
}

.card-body ul {
    padding: 0;
    list-style-type: none;
}

.card-footer {
    text-align: center;
}

.card-header {
    font-weight: bold;
    text-align: center;
}

.card-body ul {
    padding: 0;
    list-style-type: none;
}

.card-footer {
    text-align: center;
}

.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-dark {
    background-color: #343a40;
    border-color: #343a40;
}
