body {
  font-family: 'Dancing Script', cursive;
  box-sizing: border-box;
  overflow: hidden;
}
.box{
  height: 90vh;
}

.testimonial {
  background-color: #680000;
}
.project-card {
background-image: url('images/codeimage.jpg');
background-size: cover;
background-position: center;
}
.fade-in {
animation: fadeIn ease 3s;
-webkit-animation: fadeIn ease 3s;
-moz-animation: fadeIn ease 3s;
-o-animation: fadeIn ease 3s;
-ms-animation: fadeIn ease 3s;
}

@keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.slide-in-left {
  animation: 1s ease-out 0s 1 slideInFromLeft;
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.slide-in-right {
  animation: 1s ease-out 0s 1 slideInFromRight;
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

.slide-in-bottom {
  animation: 1s ease-out 0s 1 slideInFromBottom;
}